<ion-content class="custom-background">
  <div class="splash-container centered-container fade-in-up">
    <!-- logo -->
    <div class="logo-container">
      <div class="app-logo_splash bounce" >
        <img src="assets/images/healthia_logo.png" alt="app logo"
         class="app-logo_image">
      </div>
    </div>
    <!-- app name -->
     <h1 class="app-name">HEALTHIA</h1>
     <!-- loader -->
      <div class="loader"></div>
    <!-- user name -->
     <p class="user-name">David Vera Torres</p>

  </div>
</ion-content>