<ion-content class="custom-background">
  <div class="home-container centered-container fade-in-up">
    <!-- logo -->
    <div class="logo-container">
      <div class="app-logo_medium ">
        <img src="assets/images/healthia_logo.png" alt="app logo" class="app-logo_image">
      </div>
    </div>
    <!-- app name -->
    <h1 class="app-name">HEALTHIA</h1>
    <!-- uapp description -->
    <div class="description-text_container">
      <p class="app-description">Healthia hace que cuidar de ti sea simple y motivador. Encuentra en un solo espacio lo
        necesario para construir hábitos saludables y mantener un estilo de vida balanceado.</p>
    </div>

    <button (click)="gotoLogin()" class="large_button">
      Comenzar
    </button>
    <button (click)="gotoRegister()" class="large_button">Regístrate</button>

  </div>
</ion-content>